<div id="bg">
    <div class="titulo">
        <h3>Registrar Tipo de habitacion</h3>
    </div>
    <div class="module">

        <form class="form" id="formNewAdmin" name="formNewAdmin">
            <input type="text" id="name" name="name" placeholder="nombre" class="textbox" [(ngModel)]="tiperoom.name">
            <input type="text" name="description" id="description" placeholder="Descripcion" class="textbox" [(ngModel)]="tiperoom.description">
            <button type="submit" class="btn button" (click)="savetipe()">Registrar</button>
            <!-- <br> -->
            <button class="btn-outline-danger limpiar" (click)="limpiar()">Limpiar</button>
        </form>
        <!-- <form class="form" #typeroomForm="ngForm" (ngSubmit)="addTyperoom(typeroomForm)">
            <input type="text" name="name" #name="ngModel" [(ngModel)]="typeroomService.selectedTyperoom.name" placeholder="nombre" class="textbox" />
            <input type="text" name="description" #description="ngModel" [(ngModel)]="typeroomService.selectedTyperoom.description" placeholder="Descripcion" class="textbox" />
            
            <button class="button">
                Guardar
            </button>
            <button class="btn btn-outline-danger limpiar" (click)="resetForm(typeroomForm)">
                Limpiar
            </button>
            
        </form> -->
        <!-- <input type="text" placeholder="Email Address" class="textbox" /> -->
        <!-- <input type="button" value="Next"  /> -->
    </div>
</div>

<!-- <a href="http://dribbble.com/shots/1265587-Registration-Template-PSD?list=everyone" target="_blank">Design by: Asif Aleem</a> -->